-e git+https://github.com/digital-land/brownfield-resources.git@92e4b59a3a65878c347530dc083664c9c49b5254#egg=Brownfield_resource_generator
-e git+https://github.com/digital-land/digital-land-python.git@c4b4b118b2e299912f969eedc365460aedc6f83a#egg=digital-land
click
decorator
Flask
Flask-WTF
gunicorn
itsdangerous
Jinja2
MarkupSafe
pandas
python-dateutil
python-dotenv
pytz
six
validators
Werkzeug
WTForms

